//-got all idex page content
extends index.pug

block pageTitle
  title About Me

block append pageInfo
  main about page content

block prepend pageInfo
  main about

block pageContent
  .about_me
    .container
      p This content from about me page