mixin skilllist
  ul(class='list')
    li PHP
    li MySql
    li Laravel
    li python
    li This is #{themeName} Theme

mixin feature(featName)
  div(class='feats',style='color:red;')= featName
  .text= featName
